[Desktop Entry]
Name=Terminal
Comment=X Terminal emulator
Exec=xterm -en en_US.UTF-8 -fg white -bg black -u8 -fn 7x13 -fa "DejaVu Sans Mono:size=10:antialias=true" -e /data/data/com.termux/files/usr/libexec/default_shell
Terminal=false
Type=Application
StartupNotify=true
